<!-- Start Main -->
<main>
    <div class="container">
{{#if me}}
    <h1 class="i18n"><?=_('My Account');?></h1>

    <div class="user-header" style="background-image: url('{{me.profile_pic}}');">
        <div class="overlay">
            <div class="progress-container">
                <input type="file" id="cover_photo" name="cover_photo" accept="image/*; capture=camera">
                <progress max="100" value="0" id="profile_pic-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="profile_pic-upload-percentage">0</span>%</span>
            </div>

            <a href="#" id="edit-user-profile_pic" class="edit-profile_pic"><span class="i18n">Edit</span><img class="profile_pic" src="{{me.profile_pic}}?{{_now}}" /></a>
            <div class="info">
                <h1 class="title">{{me.first_name}}{{#if me.last_name}} {{me.last_name}}{{/if}}</h1>
            </div>
        </div>
    </div>

    <div class="subpage-tabs">
        <a href="#my-account" id="my-account-personal-info-tab" onclick="$('#account-mentor-info-form').hide(); $('#account-student-info-form').hide(); $('#account-employment-info-form').hide(); $('#account-personal-info-form').show(); $(this).siblings('a').removeClass('current'); $(this).addClass('current'); return false;" data-role="button" class="i18n" style="width: 31%; float: left;"><?=_('Account');?></a>
        <a href="#my-account-mentor-info" id="my-account-mentor-info-tab" onclick="$('#account-personal-info-form').hide(); $('#account-student-info-form').hide(); $('#account-employment-info-form').hide(); $('#account-mentor-info-form').show(); $(this).siblings('a').removeClass('current'); $(this).addClass('current'); return false;" data-role="button" class="only-mentors i18n" style="width: 31%; float: left; margin-left: 10px;"><?=_('Company');?></a>
        <a href="#my-account-student-info" id="my-account-student-info-tab" onclick="$('#account-personal-info-form').hide(); $('#account-mentor-info-form').hide(); $('#account-employment-info-form').hide(); $('#account-student-info-form').show(); $(this).siblings('a').removeClass('current'); $(this).addClass('current'); return false;" data-role="button" class="only-students i18n" style="width: 31%; float: left; margin-left: 10px;"><?=_('Personal');?></a>
        <a href="#my-account-employment-info" id="my-account-employment-info-tab" onclick="$('#account-personal-info-form').hide(); $('#account-mentor-info-form').hide(); $('#account-student-info-form').hide(); $('#account-employment-info-form').show(); $(this).siblings('a').removeClass('current'); $(this).addClass('current'); return false;" data-role="button" class="only-students i18n" style="width: 31%; float: left; margin-left: 10px;"><?=_('Employment');?></a>
        <div style="clear: left;"></div>
    </div>

    <form id="account-personal-info-form" action="users/" method="put" data-validate="{'rules': {'password_confirm': {'equalTo': '#password_new'}},'messages': {'password_confirm': {'equalTo': 'Your new passwords must match.'}}}" data-before-submit="return $.pages['user.account'].before_submit(data);" data-after-submit="$.pages['user.account'].update_cb(response);">
        <input type="hidden" id="profile_pic" name="profile_pic" value="{{me.profile_pic}}" />

        <h2 class="i18n"><?=_('Account approval');?></h2>
        {{#if me.approved_at}}
        <p><span class="i18n"><?=_('Your account was approved');?></span> {{me.approved_at_human}}</p>
        {{else}}
        <p><span class="i18n"><?=_('Your account has not been approved.');?></span> <span class="i18n"><?=_('You joined at');?></span> {{me.join_date_human}}.</p>
        {{/if}}

        <h2 class="i18n"><?=_('Account info'); ?></h2>
        <div>
            <label for="full_name" class="i18n"><?=_('Name'); ?></label>
            <div data-role="fieldcontainer">
                <input type="text" id="full_name" name="full_name" class="i18n" placeholder="<?php echo _('e.g. John Doe'); ?>" value="{{me.display_name}}" data-required="true">
            </div>
        </div>
        <div>
            <label for="email" class="i18n"><?=_('Email'); ?></label>
            <div data-role="fieldcontainer">
                <input type="email" id="email" name="email" placeholder="<?=_('e.g. johndoe@gmail.com'); ?>" value="{{me.email}}" class="i18n" data-required="true">
            </div>
        </div>
        <div>
            <label for="phone_number" class="i18n"><?=_('Phone number'); ?></label>
            <div data-role="fieldcontainer">
                <input type="tel" id="phone_number" name="phone_number" placeholder="<?php echo _('e.g. 555-555-1212'); ?>" value="{{me.phone_number}}" class="i18n">
            </div>
        </div>

        <label for="password" class="i18n"><?=_('Change your password'); ?></label>
        <div data-role="fieldcontainer">
            <input type="password" id="password" name="password" class="i18n" placeholder="<?php echo _('Enter your current password'); ?>" data-human-name="Old password">
        </div>
        <div data-role="fieldcontainer">
            <input type="password" id="password_new" name="password_new" class="i18n" placeholder="<?php echo _('Enter a new password'); ?>" data-human-name="New password">
        </div>
        <div data-role="fieldcontainer">
            <input type="password" id="password_confirm" name="password_confirm" class="i18n" placeholder="<?php echo _('Re-enter your new password'); ?>" data-human-name="Confirm new password">
        </div>

        <br>
        <h3 class="i18n"><?=_('Block these companies'); ?></h3>
        <label for="blocked_company" class="i18n"><?=_('Companies that you add to this list will not be able to see your name, profile, or résumé anywhere on our site.');?></label>
        <div data-role="fieldcontainer">
            <input type="text" id="blocked_company" name="blocked_company" class="autocomplete i18n" data-autocomplete-src="mentors" placeholder="<?php echo _('Enter a company name'); ?>" tabindex="6">
            <ul class="selected-bubbles">
{{#if me.blocked_companies}}
    {{#each me.blocked_companies}}
                <li><a href="#" onclick="$(this).parent().remove(); return false;"><span>{{display_name}}</span><input type="hidden" name="blocked_company_ids[]" value="{{id}}"></a></li>
    {{/each}}
{{/if}}
            </ul>
        </div>

        <br>
        <label for="password" class="i18n"><?=_('Language'); ?></label>
        <div data-role="fieldcontainer">
            <select id="lang" name="lang" data-required="true">
                {{#select me.lang}}
                <option value="zh_CN">中文 - Chinese</option>
                <option value="en_US">English - 英文</option>
                {{/select}}
            </select>
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Save'); ?>" class="i18n">
        </div>
    </form>

    <form id="account-mentor-info-form" style="display: none;" action="users/" method="put" data-before-submit="return $.pages['user.account'].before_submit(data);" data-after-submit="$.pages['user.account'].update_cb(response);">
        <h2 class="i18n"><?=_('Current package');?></h2>
        <p class="i18n"><?=_('Your current package plan has the following credits remaining:');?></p>
        <ul style="padding-left: 20px;">
            <li><b class="i18n"><?=_('Job posts');?></b>: {{#if me.num_posts_remaining}}{{me.num_posts_remaining}}{{else}}0{{/if}}</li>
            <li><b class="i18n"><?=_('New candidate contacts/résumé downloads');?></b>: {{#if me.num_contacts_remaining}}{{me.num_contacts_remaining}}{{else}}0{{/if}}</li>
        </ul>
        <p><span class="i18n"><?=_('To purchase more, please');?></span> <a href="#contact" class="i18n" style="text-decoration: underline;"><?=_('contact us');?></a>.</p>

        <h2><span class="i18n"><?=_('Company introduction'); ?></span> <span class="i18n"><?=_('PDF');?></span></h2>
        {{#if me.resume_en_uri}}
        <a href="{{me.resume_en_uri}}" onclick="window.open('{{me.resume_en_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button br pdf"><span class="i18n"><?=_('View My Company Introduction');?></span> ({{#isNull me.resume_en_approved_at}}<span class="i18n"><?=_('NOT APPROVED YET');?></span>{{else}}<span class="i18n"><?=_('Approved');?></span> {{me.resume_en_approved_at_human}}{{/isNull}})</a>
        {{/if}}
        <label for="resume_en" class="i18n"><?=_('Upload a company introduction pdf (English)'); ?></label>
        <div data-role="fieldcontainer">
            <button id="resume_en_uri-select" class="i18n"><?=_('Select image or PDF'); ?></button>
            <input type="file" id="resume_en" name="resume_en" accept="image/*; capture=camera">
            <input type="hidden" id="resume_en_uri" name="resume_en_uri" value="{{me.resume_en_uri}}" />
            <progress max="100" value="0" id="resume_en_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="resume_en_uri-upload-percentage">0</span>%</span>
        </div>

        {{#if me.resume_zh_uri}}
        <a href="{{me.resume_zh_uri}}" onclick="window.open('{{me.resume_zh_uri}}', '_blank', 'location=no,enableViewportScale=yes'); return false;" class="small-button br pdf"><span class="i18n"><?=_('View My Company Introduction');?></span> ({{#isNull me.resume_zh_approved_at}}<span class="i18n"><?=_('NOT APPROVED YET');?></span>{{else}}<span class="i18n"><?=_('Approved');?></span> {{me.resume_zh_approved_at_human}}{{/isNull}})</a>
        {{/if}}
        <label for="resume_zh" class="i18n"><?=_('Upload a company introduction pdf (Chinese)'); ?></label>
        <div data-role="fieldcontainer">
            <button id="resume_zh_uri-select" class="i18n"><?=_('Select image or PDF'); ?></button>
            <input type="file" id="resume_zh" name="resume_zh" accept="image/*; capture=camera">
            <input type="hidden" id="resume_zh_uri" name="resume_zh_uri" value="{{me.resume_zh_uri}}" />
            <progress max="100" value="0" id="resume_zh_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="resume_zh_uri-upload-percentage">0</span>%</span>
        </div>

        <h2><span class="i18n"><?=_('Company introduction'); ?></span> <span class="i18n"><?=_('Video');?></span></h2>
        {{#if me.video_uri}}
        <div class="account-video-container video-container"></div>
        {{else}}
            {{#if me.raw_video_uri}}
        <div class="account-video-container video-container">
            <p class="processing i18n"><?=_('Your video is still processing...');?></p>
        </div>
            {{/if}}
        {{/if}}
        <label for="raw_video_uri" class="i18n"><?=_('Upload a company introduction video'); ?></label>
        <div data-role="fieldcontainer">
            <button id="raw_video_uri-select" class="i18n"><?=_('Select video'); ?></button>
            <input type="file" name="video" accept="video/*; capture=camera">
            <input type="hidden" id="raw_video_uri" name="raw_video_uri" />
            <progress max="100" value="0" id="raw_video_uri-upload-progress" style=""></progress><span style="position: relative; margin-left: -50%;"><span id="raw_video_uri-upload-percentage">0</span>%</span>
        </div>

        <h2 class="i18n"><?=_('Company info'); ?></h2>
        <div>
            <label for="first_name" class="i18n"><?=_('Company name'); ?></label>
            <div data-role="fieldcontainer">
                <input type="text" id="first_name" name="first_name" placeholder="<?=_('e.g. Premier Business Solutions'); ?>" value="{{me.first_name}}" class="i18n" data-required="true">
            </div>
        </div>

        <div>
            <label for="bio" class="i18n"><?=_('Company description'); ?></label>
            <div data-role="fieldcontainer">
                <textarea id="bio" name="bio" rows="2" placeholder="<?=_('Write a paragraph or two about your company');?>" class="i18n">{{me.bio}}</textarea>
            </div>
        </div>

        <label for="industry_id" class="i18n"><?=_('Industry'); ?></label>
        <div data-role="fieldcontainer">
            <select id="industry_id" name="industry_id" data-required="true">
                <option value="" class="i18n"><?=_('Select an industry...');?></option>
                {{#select me.industry_id}}
                    {{#each industries}}
                    <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <label for="region_id" class="i18n"><?=_('Location'); ?></label>
        <div data-role="fieldcontainer">
            <select id="region_id" name="region_id" data-required="true">
                <option value="" class="i18n"><?=_('Select a region...');?></option>
                {{#select me.region_id}}
                    {{#each regions}}
                    <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <label for="company_type_id" class="i18n"><?=_('Company Type'); ?></label>
        <div class="dropdown-container create-video-container" data-role="fieldcontainer">
            <div class="dropdown no-input yamm-fw">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <input type="text" name="company_type" class="i18n" placeholder="<?=_('Select your company type...');?>" value="{{me.company_type_name_en}}" data-i18n-zh_cn="{{me.company_type_name_zh}}">
                    <a href="#"><i class="fa fa-angle-down"></i></a>
                </div>
                <ul class="dropdown-menu fit search-form-dropdown company_type">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
{{#foreach company_types}}
                    <li>
                        <div class="row">
                            <label>
                                <input type="radio" id="company_type_id" name="company_type_id" value="{{item.id}}" data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                            </label>
                        </div>
                    </li>
{{/foreach}}
                </ul>
            </div> 
        </div>

        <label for="company_size_id" class="i18n"><?=_('Company Size'); ?></label>
        <div class="dropdown-container create-video-container" data-role="fieldcontainer">
            <div class="dropdown no-input yamm-fw">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <input type="text" name="company_size" class="i18n" placeholder="<?=_('Select your company size...');?>" value="{{me.company_size_name_en}}" data-i18n-zh_cn="{{me.company_size_name_zh}}">
                    <a href="#"><i class="fa fa-angle-down"></i></a>
                </div>
                <ul class="dropdown-menu fit search-form-dropdown company_size">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
{{#foreach company_sizes}}
                    <li>
                        <div class="row">
                            <label>
                                <input type="radio" id="company_size_id" name="company_size_id" value="{{item.id}}" data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                            </label>
                        </div>
                    </li>
{{/foreach}}
                </ul>
            </div> 
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Save'); ?>" class="i18n">
        </div>
    </form>

    <form id="account-student-info-form" style="display: none;" action="users/" method="put" data-before-submit="return $.pages['user.account'].before_submit(data);" data-after-submit="$.pages['user.account'].update_cb(response);">
        <h2 class="i18n"><?=_('Your résumés'); ?></h2>
        <p><a href="#my-resumes" class="small-button write i18n"><?=_('View or edit your résumés');?></a></p>

        <h2 class="i18n"><?=_('Details about you'); ?></h2>
        <div>
            <label for="bio" class="i18n"><?=_('About you'); ?></label>
            <div data-role="fieldcontainer">
                <textarea id="bio" name="bio" rows="2" placeholder="<?=_('Write a paragraph or two about yourself');?>" class="i18n">{{me.bio}}</textarea>
            </div>
        </div>

        <label for="region_id" class="i18n"><?=_('Location'); ?></label>
        <div data-role="fieldcontainer">
            <select id="region_id" name="region_id" data-required="true">
                <option value="" class="i18n"><?=_('Select your location...');?></option>
                {{#select me.region_id}}
                    {{#each regions}}
                    <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <label for="gender" class="i18n"><?=_('Gender'); ?></label>
        <div data-role="fieldcontainer">
            <select id="gender" name="gender" data-required="true">
                <option value="" class="i18n"><?=_('Select your gender...');?></option>
                <option value="M" class="i18n"{{#equal me.gender 'M'}} selected="selected"{{/equal}}><?=_('Male');?></option>
                <option value="F" class="i18n"{{#equal me.gender 'F'}} selected="selected"{{/equal}}><?=_('Female');?></option>
            </select>
        </div>

        <label for="education" class="i18n"><?=_('Education'); ?></label>
        <div class="dropdown-container create-video-container" data-role="fieldcontainer">
            <div class="dropdown no-input yamm-fw">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <input type="text" name="education" class="i18n" placeholder="<?=_('Select your level of education...');?>" value="{{me.education_name_en}}" data-i18n-zh_cn="{{me.education_name_zh}}">
                    <a href="#"><i class="fa fa-angle-down"></i></a>
                </div>
                <ul class="dropdown-menu fit search-form-dropdown education">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
{{#foreach education_requirements}}
                    <li>
                        <div class="row">
                            <label>
                                <input type="radio" name="education_id" value="{{item.id}}" data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                            </label>
                        </div>
                    </li>
{{/foreach}}
                </ul>
            </div> 
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Save'); ?>" class="i18n">
        </div>
    </form>

    <form id="account-employment-info-form" style="display: none;" action="users/" method="put" data-before-submit="return $.pages['user.account'].before_submit(data);" data-after-submit="$.pages['user.account'].update_cb(response);">
        <h2 class="i18n"><?=_('Employment info'); ?></h2>

        <label for="region_id" class="i18n"><?=_('Have you ever worked before?'); ?></label>
        <div data-role="fieldcontainer">
            <select id="has_worked" name="has_worked" data-required="true" onchange="if ($(this).val() == '1') { $('.current-work').show(); }else{ $('.current-work').hide(); }" tabindex="1">
                <option value="" class="i18n"><?=_('Please select one...');?></option>
                {{#select me.has_worked}}
                    <option value="1" class="i18n"><?=_('Yes');?></option>
                    <option value="0" class="i18n"><?=_('No');?></option>
                {{/select}}
            </select>
        </div>

        <div class="current-work" style="display: none;">
            <label for="experience_id" class="i18n"><?=_('How much have you worked?'); ?></label>
            <div class="register-container" data-role="fieldcontainer">
                <select name="experience_id" tabindex="7">
                    <option class="i18n" value=""><?=_('Please select one...');?></option>
                    {{#each experience_requirements}}
                        <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                </select>
            </div>

            <h4 class="i18n"><?php echo _('Current job'); ?></h4>

            <label for="gender" class="i18n"><?=_('Current company name'); ?></label>
            <div data-role="fieldcontainer">
                <input type="text" id="current_company_name" name="current_company_name" class="i18n" placeholder="<?php echo _('e.g. Premier Business Solutions'); ?>" tabindex="2">
            </div>

            <label for="current_industry" class="i18n"><?=_('Current industry'); ?></label>
            <div class="dropdown-container create-video-container" data-role="fieldcontainer">
                <input type="text" name="current_industry" class="autocomplete i18n" data-autocomplete-src="industries" placeholder="<?=_('Current industry');?>" tabindex="3">

                <div class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu register-dropdown current_industry">
                        <li class="actions">
                            <div class="row">
                                <a href="?" class="x"><i class="fa fa-plus"></i></a>
                            </div>
                        </li>
                        {{#foreach industries}}
                            <li>
                                <div class="row">
                                    <div class="three-col group" class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                    <div class="two-of-third">
                                        <div class="row">
                                        {{#foreach item.items}}
                                            <div class="two-col item">
                                                <label>
                                                    <input type="radio" name="current_industry_id" value="{{item.id}}" data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                </label>
                                            </div>
                                        {{/foreach}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>

            <label for="current_position" class="i18n"><?=_('Current position'); ?></label>
            <div class="dropdown-container register-container" data-role="fieldcontainer">
                <input type="text" name="current_position" class="autocomplete i18n" data-autocomplete-src="positions" placeholder="<?=_('Current position');?>" tabindex="4">

                <div class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu register-dropdown current_position">
                        <li class="actions">
                            <div class="row">
                                <a href="?" class="x"><i class="fa fa-plus"></i></a>
                            </div>
                        </li>
                        {{#foreach positions}}
                            <li>
                                <div class="row">
                                    <div class="four-col i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                                    <div class="three-of-fourth">
                                        <div class="row">
                                        {{#foreach item.items}}
                                            <div class="three-col item">
                                                <a href="?" class="toggle-btn"><i class="fa fa-plus"></i> <span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span></a>
                                                <div class="toggle-content">
                                                {{#foreach item.items}}
                                                    <label>
                                                        <input type="radio" name="current_position_id" value="{{item.id}}" data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                                    </label>
                                                {{/foreach}}
                                                </div>
                                            </div>
                                        {{/foreach}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>

        </div>

        <h4 class="i18n"><?php echo _('Desired job'); ?></h4>
        <label for="desired_industries" class="i18n"><?=_('Desired industries'); ?></label>
        <div class="dropdown-container register-container">
            <input type="text" name="desired_industries" value="{{#foreach me.desired_industries}}{{#currentLangIs 'zh_CN'}}{{item.name_zh}}{{else}}{{item.name_en}}{{/currentLangIs}}{{#compare index '<-' ../me.desired_industries.length}}, {{/compare}}{{/foreach}}" class="autocomplete i18n" data-autocomplete-src="industries" placeholder="<?=_('Type one or select all that apply...');?>" tabindex="5">

            <div class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu register-dropdown desired_industries">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
                    {{#foreach industries}}
                    <li>
                        <div class="row">
                            <div class="three-col group" class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                            <div class="two-of-third">
                                <div class="row">
                                {{#foreach item.items}}
                                    <div class="two-col item">
                                        <label>
                                            <input type="checkbox" name="desired_industries-{{item.id}}"{{#foreach ../../me.desired_industries}}{{#equal item.id ../item.id}} checked="checked"{{/equal}}{{/foreach}} data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                        </label>
                                    </div>
                                {{/foreach}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>

        <label for="desired_positions" class="i18n"><?=_('Desired positions'); ?></label>
        <div class="dropdown-container register-container">
            <input type="text" name="desired_positions" value="{{#foreach me.desired_positions}}{{#currentLangIs 'zh_CN'}}{{item.tier_2_name_zh}}{{else}}{{item.tier_2_name_en}}{{/currentLangIs}}: {{#currentLangIs 'zh_CN'}}{{item.name_zh}}{{else}}{{item.name_en}}{{/currentLangIs}}{{#compare index '<-' ../me.desired_positions.length}}, {{/compare}}{{/foreach}}" class="autocomplete i18n" data-autocomplete-src="positions" placeholder="<?=_('Type one or select all that apply...');?>" tabindex="6">

            <div class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu register-dropdown desired_positions">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
                    {{#foreach positions}}
                    <li>
                        <div class="row">
                            <div class="four-col i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</div>
                            <div class="three-of-fourth">
                                <div class="row">
                                {{#foreach item.items}}
                                    <div class="three-col item">
                                        <a href="?" class="toggle-btn"><i class="fa fa-plus"></i> <span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span></a>
                                        <div class="toggle-content">
                                        {{#foreach item.items}}
                                            <label>
                                                <input type="checkbox" id="desired_positions-{{item.id}}" name="desired_positions-{{item.id}}"{{#foreach ../../../me.desired_positions}}{{#equal item.id ../item.id}} checked="checked"{{/equal}}{{/foreach}} data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                            </label>
                                        {{/foreach}}
                                        </div>
                                    </div>
                                {{/foreach}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>

        <label for="desired_regions" class="i18n"><?=_('Desired locations'); ?></label>
        <div class="dropdown-container register-container">
            <input type="text" name="desired_regions" value="{{#foreach me.desired_regions}}{{#currentLangIs 'zh_CN'}}{{item.name_zh}}{{else}}{{item.name_en}}{{/currentLangIs}}{{#compare index '<-' ../me.desired_regions.length}}, {{/compare}}{{/foreach}}" class="autocomplete i18n" data-autocomplete-src="regions" placeholder="<?=_('Type one or select all that apply...');?>" tabindex="3">

            <div class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu register-dropdown desired_regions">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                        {{#foreach locations}}
                            {{#isNotEmptyArray item}}
                                {{#foreach item}}
                                    <div class="four-col">
                                        <label>
                                            <input type="checkbox" name="desired_regions-{{item.id}}"{{#foreach ../../me.desired_regions}}{{#equal item.id ../item.id}} checked="checked"{{/equal}}{{/foreach}} data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                                        </label>
                                    </div>
                                {{/foreach}}
                            {{/isNotEmptyArray}}
                        {{/foreach}}
                        </div>
                    </li>
                </ul>
            </div> 
        </div>

        <label for="desired_wage_range_id" class="i18n"><?=_('Desired wage'); ?></label>
        <div class="register-container" data-role="fieldcontainer">
            <select name="desired_wage_range_id" tabindex="7">
                <option class="i18n" value=""><?=_('Please select one...');?></option>
                {{#select me.desired_wage_range_id}}
                    {{#each wage_ranges}}
                        <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <h4 class="i18n"><?php echo _('Availability & languages'); ?></h4>
        <label for="availability_id" class="i18n"><?=_('Availability'); ?></label>
        <div class="register-container" data-role="fieldcontainer">
            <select name="availability_id" tabindex="7">
                <option class="i18n" value=""><?=_('Please select one...');?></option>
                {{#select me.availability_id}}
                    {{#each availabilities}}
                        <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}">{{name_en}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <label for="languages_spoken" class="i18n"><?=_('Languages spoken'); ?></label>
        <div class="dropdown-container register-container" data-role="fieldcontainer">
            <div class="dropdown no-input yamm-fw">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <input type="text" name="languages_spoken" value="{{#foreach me.languages_spoken}}{{#currentLangIs 'zh_CN'}}{{item.name_zh}}{{else}}{{item.name_en}}{{/currentLangIs}}{{#compare index '<-' ../me.languages_spoken.length}}, {{/compare}}{{/foreach}}" class="i18n" placeholder="<?=_('Please select all that apply...');?>" tabindex="8">
                    <a href="#"><i class="fa fa-angle-down"></i></a>
                </div>
                <ul class="dropdown-menu fit register-dropdown languages_spoken">
                    <li class="actions">
                        <div class="row">
                            <a href="?" class="x"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
                    {{#foreach languages}}
                    <li>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="languages_spoken-{{item.id}}"{{#foreach ../me.languages_spoken}}{{#equal item.id ../item.id}} checked="checked"{{/equal}}{{/foreach}} data-role="none"><span class="i18n" data-i18n-zh_cn="{{item.name_zh}}">{{item.name_en}}</span>
                            </label>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>

        <div data-role="fieldcontainer">
            <br>
            <input type="submit" value="<?=_('Save'); ?>" class="i18n">
        </div>
    </form>
{{/if}}

    </div>
</main>
<!-- End Main -->

