<!-- Start Main -->
<main>
    <div class="container">

<div class="actions right">
    <a href="#create-video" class="small-button i18n only-mentors"><?=_('Create job');?></a>
</div>
<h1 class="i18n"><?=_('My Jobs');?></h1>

{{#if mine}}
<h2 class="i18n"><?=_('Jobs I created');?></h2>
<div class="viewport videos">
    <div class="flipsnap" id="my-videos-mine">
    {{#each mine}}
        {{> video this}}
    {{/each}}
    </div>
</div>
{{/if}}

{{#if viewed}}
<h2 class="i18n"><?=_('Jobs I viewed');?></h2>
<div class="viewport videos">
    <div class="flipsnap" id="my-videos-viewed">
    {{#each viewed}}
        {{> video this}}
    {{/each}}
    </div>
</div>
{{/if}}

    </div>
</main>
<!-- End Main -->