<!-- Start Main -->
<main>
    <div class="container">

{{#if user}}
    <h1 class="i18n"><?=_('Send Offer');?></h1>
    <p><span class="i18n"><?_('To');?></span><span class="i18n"><?=_(':');?></span></p>
    <div class="userInfo">
        <div class="userHeadshot" style="background-image: url('{{user.profile_pic}}');"></div>
        <div class="userDetails">
            <p><span class="i18n">{{user.first_name}}</p>
            <a href="#candidate?id={{user.id}}" class="small-button profile i18n"><?=_('View Profile');?></a>
        </div>
    </div>

    <form id="offer-form" action="hiring-pools-offers/" method="post" data-before-submit="return $.pages['auctions.send-offer'].before_offer(data);" data-after-submit="$.pages['auctions.send-offer'].after_offer(response);">
        <input type="hidden" name="hiring_pool_id" value="{{hiring_pool_id}}">
        <input type="hidden" name="to_user_id" value="{{user.id}}">

        <label for="salary" class="i18n"></label>
        <div data-role="fieldcontainer">
            <div class="">
                <div class="search-form-container">
                    <select name="wage_range_id">
                        <option class="i18n" value=""><?=_('Offered wage range');?></option>
                        {{#select wage_range_id}}
                            {{#each wage_ranges}}
                            <option value="{{id}}" class="i18n" data-i18n-zh_cn="{{name_zh}}"{{#equal wage_range_id id}} selected="selected"{{/equal}}>{{name_en}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div> 
            </div>
        </div>

        <label for="message"></label>
        <div data-role="fieldcontainer">
            <textarea cols="30" rows="10" data-required="true" data-human-name="Message"></textarea>
        </div>

        <div data-role="fieldcontainer">
            <input type="submit" value="<?=_('Send offer');?>" class="i18n">
        </div>
    </form>
{{/if}}

    </div>
</main>
<!-- End Main -->