        <a href="#candidate?id={{id}}" class="item">
            <div class="pic" style="background-image: url('{{profile_pic}}');"></div>
            <div class="info">
                <div class="content">
                    <div class="name">{{display_name}}</div>
                    <div class="category i18n" data-i18n-zh_cn="{{current_industry_name_zh}}">{{current_industry_name_en}}</div>
                    <div class="category i18n" data-i18n-zh_cn="{{current_position_name_zh}}">{{current_position_name_en}}</div>
                </div>
            </div>
        </a>