<!-- Start Main -->
<main>
    <div class="container">

    <div data-template-filename="mentors/search-form.handlebars.html"></div>

    <div class="content">
        <h1 class="i18n"><?=_('Companies');?></h1>

{{#if is_search}}
        <h2 class="i18n"><?=_('Search results');?></h2>
        <div class="viewport mentors listView">
            {{#if mentors.data}}
            <div>
                {{#each mentors.data}}
                    {{> mentor this}}
                {{/each}}
            </div>
            {{else}}
            <p class="no-results i18n"><?=_('No mentors found.');?></p>
            {{/if}}
        </div>
        {{#compare mentors.meta.NumRecordsAvailable '>'mentors.meta.EndRecord}}
        <div class="show-more">
            <a href="#mentors?{{qs}}&append_results=1&startrecord={{nextrecord}}" onclick="$.pages['mentors.home'].append_results('{{qs}}', {{nextrecord}}); return false;">Show more</a>
            <div id="ajax_loader">
                <img src="assets/images/ajax-loader.gif" alt="loading...">
            </div>
        </div>
        {{/compare}}
{{else}}
        {{#if mentors.popular}}
        <h2 class="i18n"><?=_('Popular companies');?></h2>
        <div class="viewport mentors">
            <div class="flipsnap" id="mentors-popular">
                {{#each mentors.popular}}
                    {{> mentor this}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{#if mentors.recommended}}
        <h2 class="i18n"><?=_('Recommended companies');?></h2>
        <div class="viewport mentors">
            <div class="flipsnap" id="mentors-recommended">
                {{#each mentors.recommended}}
                    {{> mentor this}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{#if mentors.new}}
        <h2 class="i18n"><?=_('New companies');?></h2>
        <div class="viewport mentors">
            <div class="flipsnap" id="mentors-new">
                {{#each mentors.new}}
                    {{> mentor this}}
                {{/each}}
            </div>
        </div>
        {{/if}}
{{/if}}
    </div>

    </div>
</main>
<!-- End Main -->