.info-tiles {
    .info-tile {
        height: auto;
        min-height: 75px;
        div.info-tile-content {
            padding: 10px;
            transform: none;
        }
    }
}

.job-applicant,
.video-respond-resume {
    .info-tile-content {
        transform: translatey(-50%) !important;
    }
}

.info-tile-content.info-tile-video {
    top: 0;
    transform: none !important;
    height: 73px;
    line-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: inherit !important;
    font-size: 30px;
    text-shadow: 0 0 20px #fff !important;
    font-weight: bold;
}

#rate-mentor,
#rate-candidate,
#rate-video {
    span.star_32 {
        height: auto;
        padding: 5px;
    }
}

/*potrait video height and video loading screen*/
video {
    max-height: 520px;
}

video.loading {
    background: black;
}

/*form validate error font size*/
label.error {
    font-size: 16px;
}


.three-of-fourth {
    display: inline-block;
    width: 75%;
}

.two-of-third {
    display: inline-block;
    width: 65%;
}


.row {
    > div {
        display: inline-block;
    }
}

.three-col {
    margin-bottom: 10px;
}

.two-col {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    line-height: 12px;

    label {
        padding-top: 5px;
    }
}


/*resigter-employer footer style*/
.position-relative {
    display: inline !important;
    position: relative !important;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.none-display {
    display: none;
}
.show-element {
    display: inline !important;
}

.company-type,
.company-size {
    ul {
        display: none;
    }
}


.search-form {
    .dropdown {
        ul {
            display: none;
        }
    }
}

.register-form-3 {
    .dropdown {
        ul {
            display: none;
        }
    }
}

form#account-employment-info-form,
form#register-employees-2_form,
form#account-student-info-form,
form#account-mentor-info-form,
form#create-video-form {
    .dropdown {
        ul {
            display: none;
        }
    }
}


.show-more {
    position: relative;

    #ajax_loader {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        top: 30px;
        display: none;
    }

    img {
        width: 30px;
    }
}


.not-active {
   pointer-events: none;
   cursor: default;
   display: none !important;
}



.dropdown-container.create-video-container .dropdown a.dropdown-toggle, 
.dropdown-container.create-video-container .dropdown.no-input .dropdown-toggle>a, 
.dropdown-container.register-container .dropdown a.dropdown-toggle, 
.dropdown-container.register-container .dropdown.no-input .dropdown-toggle>a {
    margin-top: -57px;
    height: 56px;
}


span.unread-messages,
span.unread-circle-requests,
span.unread-chat-requests,
span.unread-account-requests {
    padding: 0px 5px 0 5px;
}

.qr-code {
    margin: 0 auto;
    text-align: center;
}


.search-col-three:nth-child(2) {
    .dropdown-menu.fit {
        margin-left: 33.3333%;
    }
}
.search-col-three:nth-child(3) {
    .dropdown-menu.fit {
        margin-left: 66.6666%;
    }
}

.dropdown.yamm-fw.open {
    a.dropdown-toggle {
        float: right;
    }
}

#resume-tips {
    p {
        span.content {
            display: block;
            font-size: 20px;
            margin-top: -5px;
            margin-left: 60px;
            margin-right: 60px;
        }

        .number {
            display: inline-block;
            @include rounded(100%);
            border: solid 1px #333;
            width: 40px;
            height: 40px;
            line-height: 32px;
            margin-top: -10px;
            font-size: 30px;
            font-weight: bold;
            background-color: #dff8f9;
            color: #29aae3;
            text-align: center;
        }

        &.number-left {
            .number {
                float: left;
            }
        }
        &.number-right {
            .number {
                float: right;
            }
        }
    }

    hr {
        clear: both;
    }
}