<!-- Start Main -->
<main>
    <div class="container">

    <div class="content">
        <div class="content">
            <h1 class="i18n"><?=_('Online Interviews');?></h1>
        </div>

        {{#if data}}
        <div class="viewport chat-requests listView">
            {{#each data}}
            <div id="interview-request-{{id}}" class="item{{#if i_am_student}}{{#if viewed_at}} read{{/if}}{{else}} read{{/if}}{{#compare start_time '<=' 'now'}}{{#compare end_time '>' 'now'}} current{{/compare}}{{/compare}}">
                <a href="#{{#if i_am_student}}mentor{{else}}candidate{{/if}}?id={{their_id}}"><div class="pic" style="background-image: url('{{their_profile_pic}}');"></div></a>
                <div class="info">
                    <div class="content">
                    {{#if i_am_student}}
                        {{#equal accepted_status 'Y'}}
                        <div class="name">{{#equal accepted_status 'Y'}}<span class="i18n"><?=_('You have an interview scheduled with');?></span> <a href="#mentor?id={{their_id}}">{{their_name}}</a>{{/equal}}</div>
                        {{else}}
                        <div class="name"><a href="#mentor?id={{their_id}}">{{their_name}}</a> <span class="i18n"><?=_('wants to interview you');?></span></div>
                        {{/equal}}
                    {{else}}
                        {{#equal accepted_status 'Y'}}
                        <div class="name"><span class="i18n"><?=_('You scheduled an interview with');?></span> <a href="#candidate?id={{their_id}}">{{their_name}}</a></div>
                        {{else}}
                        <div class="name"><span class="i18n"><?=_('You requested an interview with');?></span> <a href="#candidate?id={{their_id}}">{{their_name}}</a></div>
                        {{/equal}}
                    {{/if}}
                        <div class="time"><b><span class="i18n"><?=_('Start time');?></span></b>: {{start_time_human}}</div>
                        <div class="time"><b><span class="i18n"><?=_('End time');?></span></b>: {{end_time_human}}</div>
                        <p class="line-breaks">{{message}}</p>
                        <div class="actions">
                        {{#if i_am_student}}
                            {{#if accepted_at}}
                                {{#compare current_time '>=' opening_time}}
                                    <a href="#interview?id={{id}}" class="small-button accepted i18n"><?=_('Join now'); ?></a>
                                {{else}}
                                    <a href="#interview-requests" class="small-button waiting disabled i18n"><?=_('Interview opens at'); ?> {{opening_time_human}}</a>
                                {{/compare}}
                            {{else}}
                                <a href="#interview-requests" onclick="$.pages['chat.requests'].respond('accept', {{id}}); return false;" class="small-button pending i18n" style="{{#if accepted_at}}display: none;{{/if}}"><?=_('Accept'); ?></a>
                                <a href="#interview-requests" onclick="$.pages['chat.requests'].respond('deny', {{id}}); return false;" class="small-button pending i18n" style="{{#if accepted_at}}display: none;{{/if}}"><?=_('Deny'); ?></a>
                            {{/if}}
                            {{#compare start_time '<=' 'now'}}{{#compare end_time '>' 'now'}}<b class="i18n"><?=_('Active Now');?></b>{{/compare}}{{/compare}}
                        {{else}}
                            {{#equal accepted_status 'Y'}}
                                {{#compare current_time '>=' opening_time}}
                                    <a href="#interview?id={{id}}" class="small-button accepted i18n"><?=_('Join now'); ?></a>
                                {{else}}
                                    <a href="#interview-requests" class="small-button waiting disabled i18n"><?=_('Interview opens at'); ?> {{opening_time_human}}</a>
                                {{/compare}}
                            {{else}}
                                <a href="#interview-requests" class="small-button waiting disabled i18n"><?=_('Waiting for acceptance'); ?></a>
                            {{/equal}}
                        {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="content">
            <p class="no-results i18n"><?=_('No interviews found.');?></p>
        </div>
        {{/if}}
    </div>

    </div>
</main>
<!-- End Main -->